.dark{
    background-color: #2d3941!important;
    color: #fff !important;
    transition: none !important;
}
.sb-conversations.dark .con-title,.sb-conversations.dark .con-lastMessage,.sb-conversations.dark .con-timeStamp{
    color: #fff;
}
.main-container{
    background-color:#f4f5f899;
    height:90vh;
    width:90vw;
    border-radius:5px;
    display: flex;
}
.icon{
    width:1em !important;
    height:1em !important;
}
body button:focus, body button:focus-visible {
    outline:none;
}
/* sidebararea */

.sidebar-container{
    flex:0.3;
    display: flex;
    flex-direction: column;
}
.sb-header{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius:5px;
    padding: 8px;
    margin: 14px 10px 6px 10px;
    display: flex;
    justify-content: space-between;
}
.sb-search{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color:grey;
    border-radius:5px;
    padding: 8px;
    margin: 10px 10px 6px 10px;
    display: flex;
    align-items: center;
}
.search-box{
    outline-width:0;
    width: 60%;
    outline:none;
    font-size: 1.25rem;
    border:none;
    margin-left:10px;
}
.sb-conversations{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 8px;
    margin: 10px 10px 14px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    flex:1;
    overflow-y: scroll;
    scrollbar-width: none;
}
.conversation-container{
    display: grid;
    grid-template-columns: 38px auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    padding: 8px 5px;
    margin:5px;
}
.sidebar-container .conversation-container,.se-conversation .conversation-container{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom: 3px solid;
    border-top: 3px solid;  
    border-radius:10px;
}
.con-icon.dark {
    background-color: green !important;
}   
.con-icon{
    grid-area: 1/1/3/2;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    width:32px;
    height:32px;
    line-height: 33px;
    border-radius:50%;
    background-color:#00000082;
    color:#fff;
    padding: 2px;
}
.con-title{
    grid-area: 1/2/2/4;
    font-weight: bold;
    text-transform: capitalize;
    color: #000;
}
.con-timeStamp{
    text-align: end;
    font-size: 0.75rem;
    color:#808080;
}
.con-lastMessage{
    font-size: 0.8rem;
    color:#808080;
}
.other-text-content .con-lastMessage{
    font-size: 1em;
    color:#000;
}
.ug-row {
    display: flex;
    align-items: center;
    gap: 10px;
}
.other-text-content.dark {
    background-color: lightcyan !important;
}
.other-text-content.dark .con-title.dark,.other-text-content.dark .con-lastMessage.dark{
    background-color: transparent!important;
    color:#000 !important;
}
.other-text-content{
    display: flex;
    flex-direction: column;
    width: max-content;
    background-color: #e8e8e8;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #000;
    padding: 10px;
    border-radius: 20px;
    border-start-start-radius:0px;
    margin: 5px;
}
.private-chat-container{
    display: flex;
    flex-direction: column;
    flex:0.7;
}
/* chatarea */

.chatArea-container{
    display: flex;
    flex-direction: column;
    flex:0.7;
}
.messages-container{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 8px;
    margin: 14px 10px 6px 10px;
    border-radius: 5px;
    flex:1 1;
    overflow-y: scroll;
    scrollbar-width: none;
}
.messages-container::-webkit-scrollbar{
    display: none;
}
.chatArea-header{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 8px;
    margin: 14px 10px 6px 10px;
    border-radius: 5px;
}
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.text-input-area{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius:5px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 10px 10px 14px 10px;
}
.self-message-container{
    display: flex;
    justify-content: flex-end;
}
.self-timeStamp {
    font-size: 0.65rem;
    text-align: end;
} 
.other-message-container {
    display: flex;
}  
.other-text-container {
    background-color: lightgrey;
    border-radius: 5px;
    color: #000;
    padding: 10px;
    border-radius:5px;
    margin: 5px;
}
.header-text .con-timeStamp {
    text-align: start;
}
.messageBox{
    display: flex;
    flex-direction: column;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);    color: #000;
    padding: 10px;
    border-radius: 20px;
    border-start-end-radius: 0px;
    margin: 5px;

}
.welcome-container {
    width: 100%;
    display: flex;
    flex:0.7;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
img.welcome-logo {
    max-width: 50%;
}

/* creategroups */

.createGroups-container{
    flex: 0.7;
    align-self: center;
    padding:10px;
    margin:10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:5px;
    display: flex;
    justify-content: space-between;
}

/* login */
.login-container{
    width:80vw;
    height:80vh;
    display: flex;
    border-radius:5px;
    background-color: #e8e8e8;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
img.image {
    width: 100%;
    object-fit: cover;
}
.image-container{
    flex:0.3;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.login-box h3{
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 4rem;
}
.login-box{
    flex:0.7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fff;
    border-radius:5px;
    margin:10px;
    gap:20px;
    color:#63d7b0;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-container{
    flex: 0.7;
    display: flex;
    flex-direction: column;
}
.ug-header{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    margin: 14px 10px 6px 10px;
    padding:4px;
    display: flex;
    align-items: center;
}
.ug-title{
    color:rgba(0, 0, 0, 0.54);
    margin-left:10px;
    font-weight: bolder;
}
.ug-list{
    flex:1;
    overflow: scroll;
    scrollbar-width: none;
    padding: 10px;
}
.list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius:5px;
    padding:10px 5px;
    margin:10px;
    transition-duration: 0.5s;
    gap:10px;
}
/* .list-container .sb-search {
    padding: 1px;
    margin-bottom: 0px;
} */
.ug-list::-webkit-scrollbar{
    display: none;
}
.list-item:hover{
    background-color: rgb(226, 226, 226);
}
span.hyper {
    color: purple;
    text-decoration: underline;
}
.other-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.sidebar-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.se-conversation {
    display: flex;
    flex-direction: column;
    flex: 1;
}
img.message-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: top;
}

@media only screen and (max-width:1200px) {

    .sidebar-container{
        flex:0.5;
    }
}
  
@media only screen and (max-width:992px) {

    .sidebar-container {
        flex: 0;
    }
    .sidebar-container .sb-conversations,
    .sidebar-container .sb-search {
      display: none;
    }
  
    .sb-header .icon.chat {
      display: inline-block;
    }
    .main-container{
     flex-direction: column;
    }
    .chatArea-container{
        flex:1;
        height: 500px;
    }
    .createGroups-container{
        flex:0;
        width:93%;
    }

    login and register
    .login-box{
        flex:0.7;
    }
    .image-container{
        flex:0.5;
    }
    .login-container {
        width: 80vw;
        height: 70vh;
    }
    .login-box h3 {
        font-size: 1.7rem;
    }
    .welcome-container{
        flex:1;
    }
    .welcome-container p {
        font-size: 0.9rem;
        padding: 0 20px;
    }
    img.welcome-logo {
        max-width: 55%;
    }
    .welcome-container b {
        font-size: 1.6rem;
        margin:0.5em 0;
    } 
}
@media only screen and (max-width:767px) {
    img.image {
        width: 50%;
        object-fit: cover;
    }
    .login-box h3 {
        font-size: 1.6rem;
    }
    .login-container {
        width: 95%;
        height:84vh;
        flex-direction: column;
    }
    
}
@media only screen and (max-width:480px) {
    img.welcome-logo {
        max-width: 90%;
    }
    .image-container {
        flex: 1;
    }
    .login-container{
        height:92vh;
    }
    .other-icons{
        justify-content:end;
    }
    img.image {
        width: 100%;
        object-fit: contain;
        height: 140px;
        object-position: top;
    }
    .login-box {
        padding: 20px 0;
    }
    .main-container{
        width:95%;
        height:96vh;
    }
}

